.ui-widget {
  font-size: .9em; }

button.action, select {
  padding: 4px 4px;
}

button .ui-state-default {
  padding: 1px 3px;
  margin: 0;
}

body {
  font-family: Verdana, Tahoma, Arial, sans; }
  body p {
    color: #888;
    font-size: .8em; }

div.panel {
  width: 660px;
  padding: 5px; }

.controls {
  text-align: right;
}

h1 {
  font-family: Arial;
  font-size: 1.5em;
  font-weight: normal;
  color: #8a8a8a;
  border-bottom: 1px #eee solid;
  padding-bottom: 8px; }
/*
table.options {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px #ddd solid; }
  table.options td {
    padding: 5px 10px; }
  table.options tr {
    border-bottom: 1px #ddd solid; }
  table.options th {
    font-weight: normal;
    text-align: right;
    font-size: .9em;
    background: #eee;
    padding: 5px 10px; }
*/
table.options {
}
table.options td {
  padding: 5px 10px;
}

table.options th {
  font-weight: normal;
  text-align: left;
  font-size: .9em;
  padding: 5px 10px;
}

.help {
  font-size: .7em;
  margin: 0;
  color: #666;
}

#logo {
  vertical-align: middle;
}

#side_bar {
  width: 270px;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: #f8f7f7;
  height: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(rgba(234, 255, 243, 0.2), #EAEEF3), -webkit-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
}

#main {
  padding: 20px;
  margin: 10px auto;
  width: 600px;
}

#ddmenu {
  display: block;
  width: 200px;
  outline: none;
  border: 1px solid #fff;
  text-decoration: none;
  position: relative;
}

#ddmenu input[type="text"] {
  width: 170px;
}

#ddmenu:hover {
  border: 1px solid #ccc;
}

#font_list {
  list-style-type: none;
  z-index: 100;
  background-color: #eee;
  border: 1px solid #eee;
  margin: 0;
  padding:2px; 
  right: 0;
  display: none;
}

#font_list li {
  margin: 0;
  padding: 2px 10px;
}
.ui-combobox {
  position: relative;
  display: inline-block;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */
  *height: 1.7em;
  *top: 0.1em;
}
.ui-combobox-input {
  margin: 0;
  padding: 0.2em;
}
