body {
    font-family: Verdana, Tahoma, Arial, sans;
}
body p {
    color: #888;
font-size: .8em;
}

.controls {
    text-align: right;
}

h1 {
    font-family: Arial;
    font-size: 1.5em;
    font-weight: normal;
    color: #8a8a8a;
    border-bottom: 1px #eee solid;
    padding-bottom: 8px;
}

table.options td {
    padding: 5px 10px;
}

table.options th {
    font-weight: normal;
    text-align: left;
    font-size: .9em;
    padding: 5px 10px;
}

.help {
    font-size: .7em;
    margin: 0;
    color: #666;
}

#logo {
    vertical-align: middle;
}

#main {
    padding: 20px;
    margin: 10px auto;
    width: 600px;
}


/* jquery.autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid #bbb;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

/*
.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}
.ac_odd {
	background-color: #eee;
}
*/
.ac_over {
	background-color: #eee;
}
